/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #737373;
}

@font-face {
  font-family: tvtracker;
  src: url(budmojiggler.ttf);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fafafa;
  text-shadow: none;
  background-color: #737373;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

body {
  justify-content: center;
  background-color: #fafafa;
}

.cover-container {
  max-width: 50em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  background: #fafafa;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.masthead-brand {
  margin-bottom: 0;
  font-family: tvtracker;
  color: #48c9b0;
  font-size: 50px;

}

.lead{
  z-index: 3;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #737373;
  border-bottom-color: #737373;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #737373;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .nav-link:focus{
  color: #48c9b0;
  border-bottom-color: #48c9b0;
}

@media (min-width: 48em) {

  .nav-masthead {
    float: right;
  }
}

@media (max-width: 48em) {
  .masthead-brand{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-device {
  position: absolute;
  right: 5%;
  bottom: -30%;
  width: 120px;
  height: 230px;
  background-color: #737373;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 1;
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: #e5e5e5;
  border-radius: 5px;
}

.product-device-left-1 {
  top: 15%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #737373;
}

.product-device-left-2 {
  position: absolute;
  left: 12.5%;
  top:40%;
  width: 120px;
  height: 230px;
  background-color: #48c9b0;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device-right-1 {
  top: 40%;
  left:  auto;
  bottom: 0;
  right: 5%;
  background-color: #737373;
}

.product-device-right-2 {
  top: 15%;
  left:  auto;
  bottom: 0;
  right: 12.5%;
  background-color: #48c9b0;
}
  
.overflow-hidden { 
  overflow: hidden;
}

/*
 * Cover
 */
 .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: #737373;
}
